// ----------------------------------------------------------------------
  // Colors
// ----------------------------------------------------------------------

$purple: #51327d;
$purple60: rgba(81, 50, 125, .6);
$purple30: rgba(81, 50, 125, .3);

$grey: #949494;
$black: #333333;
$white: #ffffff;
$lightwhite: rgba(255,255,255,.6);

$lightgrey: #eee;

// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------

$fallback: 'Verdana, Geneva, sans-serif';
$robotoRegular: 'Roboto Regular', #{$fallback};
$robotoMedium: 'Roboto Medium', #{$fallback};
$robotoLight: 'Roboto Light', #{$fallback};
$robotoBold: 'Roboto Bold', #{$fallback};
$robotoRegularItalic: 'Roboto Light Italic', #{$fallback};

// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------

$regularSize: 16;

// ----------------------------------------------------------------------
	// Paths
// ----------------------------------------------------------------------

$imgDir: '../images';
$fontsDir: '../fonts/';

// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------

$maxWidth: 1280;
